.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.table{
	margin-top: 50px;
	text-align: center;
}

#table{
	margin-top: 50px;
	text-align: center;
}


.icon{
	width: 10px;
}

#source{
	display: inline-block;
	align-self: flex-start;
	text-align: center;
}
#destination{
	display: inline-block;
	align-self: flex-start;
	text-align: center;
	padding-left:200px;
}
#DepartureTime{
	display: inline-block;
	align-self: flex-start;
	text-align: center;
	padding-left:200px;
}
#NumFlights{
	display: inline-block;
	align-self: flex-start;
	text-align: center;
	padding-left:200px;
}
#Speed{
	display: inline-block;
	align-self: flex-start;
	text-align: center;
}
#MasterThree{
	text-align: center;
}
.TableCenterAlign{
	display: block;
	text-align: center;
}
